{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="side-space">
    <div class="container mt-5 margin-space profile-wrapper">
        <div class="row text-center">
            <!-- Profile info -->
            <div class="col mt-4 text-dark">
                <div class="text-center mb-4">
                    <h2 class="text-uppercase">{{ profile.user.username }}{% if profile.user.is_staff %}
                        (Admin){% endif %}
                    </h2>
                    <!-- If user has no avatar, use placeholder -->
                    <img class="about-round"
                        src="{% if profile.avatar and profile.avatar.url %}{{ profile.avatar.url }}{% else %}{% static 'images/nobody.jpg' %}{% endif %}"
                        alt="{{ profile.user }}'s avatar." width="225" height="225">
                </div>
                <!-- "About me" section -->
                <div id="about">
                    <h4 class="text-uppercase underline">About Me</h4>
                    {{ profile.about|safe }}
                    <hr>
                    {% if profile.user == user %}
                    <!-- Edit and delete profile -->
                    <button id="edit-btn" class="btn btn-style px-4 mx-auto">
                        Edit profile
                    </button>
                    {% endif %}
                </div>
                <!-- Edit profile form -->
                <div id="edit-about" style="display: none;">
                    <form id="edit-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="id_avatar">Avatar</label>
                            <input type="file" class="form-control" id="id_avatar" name="avatar">
                        </div>
                        <div class="form-group mb-3">
                            <label for="id_about">About Me</label>
                            <textarea class="form-control" id="id_about" name="about"
                                rows="5">{{ profile.about }}</textarea>
                        </div>
                        <div class="pb-3">
                            <button type="submit" class="btn px-4 mx-auto">Save changes</button>
                            <button type="button" class="btn btn-secondary px-4 mx-auto">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mb-3 post-comment-container">
            <div class="row text-center">
                <div class="col-lg-6 text-white mt-1">
                    <h3 class="text-fade bg-dark p-2 mb-0 box-shadow text-uppercase">Your Posts</h3>
                    <div class="mt-0 posts-wrapper">
                        {% for post in posts %}
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <div class=" mb-1">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.heading|safe }}</h5>
                                    {{ post.content|safe|linebreaks }}
                                </div>
                            </div>
                        </a>
                        {% empty %}
                        <p class="pt-4 text-muted">No Posts...</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-6 text-white mt-1">
                    <h3 class="text-fade bg-dark p-2 mb-0 box-shadow text-uppercase">Your Comments</h3>
                    <div class="mt-0 posts-wrapper">
                        {% for comment in comments %}
                        <a href="{% url 'post_detail' comment.blog_post.slug %}" class="post-link">
                            <div class="mb-1">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ comment.blog_post.heading | safe }}
                                        <span class="h6"> by {{ comment.blog_post.writer }}</span>
                                    </h5>
                                    <p class="card-text">You Commented: {{ comment.content | safe | linebreaks }}</p>
                                </div>
                            </div>
                        </a>
                        {% empty %}
                        <p class="pt-4 text-muted">No Comments...</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if profile.user == user %}
        <!-- Delete profile -->
        <div class="text-center">
            <button id="btn-delete" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
                Delete Account
            </button>
            <!-- Hidden delete form -->
            <form id="delete-form" method="post" action="{% url 'delete_account' %}" style="display:none;">
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sorry to see you leave. Are you sure you want to delete your account?
                <hr>
               <small class="text-danger">This change will be permanent.</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger text-uppercase" id="confirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}