{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Post Info -->
<div class="container mt-2">
    <div class="row">
        <div class="col mb-4 p-0 mx-auto">
            <div class="container px-3 mb-1 card-body">
                <div class="row mb-1">
                    <!-- Avatar -->
                    <div class="col-sm-2 col-lg-1 pt-md-3 text-center">
                        <a href="{% url 'profile' post.writer.username %}" class="author text-white">
                            <!-- If user has no avatar, use placeholder -->
                            {% if post.writer.profile.avatar.url != '/media/images/nobody.jpg' %}
                            <img id="round" src="{{ post.writer.profile.avatar.url }}" alt="Avatar">
                            {% else %}
                            <img id="round" src="{% static 'images/nobody.jpg' %}" alt="Avatar">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-sm-10 col-lg-11 px-3 px-lg-5">
                        <!-- Title, author, time of post -->
                        <p class="text-fade small mb-0 spacing">
                            <a href="{% url 'profile' post.writer.username %}" class="link-hover font-weight-bold h6 text-fade">
                                {{ post.writer }} |
                            </a>
                            <small>{{ post.created_at }}</small>
                        </p>
                        <h2 class="post-title text-dark">{{ post.heading }}</h2>
                        <!-- Post content -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post-content text-muted">
                                    {{ post.content | safe | linebreaks }}
                                    {% if post.posted_at != post.updated_at %}
                                    {% endif %}
                                    <hr class="hr-dark">
                                    <!-- Displaying count of comments -->
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            <small>Updated on {{ post.updated_at }}</small>
                                        </div>
                                        <div class="col-auto">
                                            <strong class="text-secondary">
                                                <i class="far fa-comments"></i> {{ comment_count }}
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Post a Comment -->
<div class="container">
    <div class="row">
        <div id="bottom-space" class="col-6 mx-auto text-center">
            <button id="posting-button" class="btn page-link btn-primary px-4 col-m-6 mx-auto" onclick="openForm()">
                Write a Comment
            </button>
        </div>
    </div>
    <div class="row justify-content-center" id="posting-form" style="display: none;">
        <div class="col-12 mb-3 mt-3">
            <div class="pt-2 pb-3 custom-form-body text-center">
                <button id="close-form" onclick="closeForm()" class="btn-close btn-close-dark"></button>
                {% if user.is_authenticated %}
                <h4 class="text-dark space-top">Write a comment <span class="h6 text-fade">as {{ user.username }}</span>
                </h4>
                <div class="center">
                    <form id="commentForm" method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <div class="space-top">
                            <button id="submitButton" type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="text-center">
                    <p class="text-dark text-center">You must log in to leave a comment.</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Comments -->
<div class="container mt-2">
    <div class="row">
        <div class="col mb-4 p-0 mx-auto">
            <!-- Iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="container px-3 mb-1 custom-comment-body {% if comment.is_sticky %}sticky{% endif %}">
                <div class="row mb-1">
                    <!-- Avatar -->
                    <div class="col-sm-2 col-lg-1 pt-md-3 text-center">
                        <a href="{% url 'profile' comment.commenter.username %}" class="author text-white">
                            <!-- If user has no avatar, use placeholder -->
                            {% if comment.commenter.profile.avatar.url != '/media/images/nobody.jpg' %}
                            <img id="round" src="{{ comment.commenter.profile.avatar.url }}" alt="Avatar">
                            {% else %}
                            <img id="round" src="{% static 'images/nobody.jpg' %}" alt="Avatar">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-sm-10 col-lg-11 px-3 px-lg-5">
                        <!-- Comment info (author, time of post) -->
                        <p class="text-fade small mb-0 spacing">
                            <a href="{% url 'profile' comment.commenter.username %}" class="link-hover font-weight-bold h6 text-fade">
                                {{ comment.commenter }} |
                            </a>
                            {{ comment.created_at }}
                        </p>
                        <!-- Comment body -->
                        <div class="text-white post-body" id="comment{{ comment.id }}">
                            {{ comment.content | safe | linebreaks}}
                            <hr class="hr-dark">
                            <div class="mb-1">
                                {% if comment.created != comment.updated_at %}
                                <p><small class="text-fade text-muted">Updated on {{ comment.updated_at }}</small>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
<!-- JavaScript functions for form -->
<script>
    function openForm() {
        document.getElementById("posting-form").style.display = "block";
    }

    function closeForm() {
        document.getElementById("posting-form").style.display = "none";
    }
</script>

{% endblock content %}