/*--------------------------------------------General Styles */
.dark-backgr {
    background-color: rgba(0, 0, 0, 1);
}

p {
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border: none;
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    transition: box-shadow 0.3s ease;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;}

.btn-:active {
    box-shadow: none; 
    border-bottom: none;
    border-right: none;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform: translateY(5px);
}

.card-body {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px 15px 15px 0;
    width: auto;
}

input {
    box-shadow: 0 0 4px 2px rgba(26, 46, 47, 0.5);
}

label {
    padding-bottom: 10px;
}

.margin-space {
    margin-bottom: 48px;
}

.side-space {
    padding: 20px;
}

#id_content {
    display: block;
}

.custom-card-body {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border-radius: 35px 35px 0px 35px;
    width: fit-content;
    margin: 0 auto;
}

/*----------------------------Django messages */
.dismiss-card {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border-radius: 35px 35px 0px 35px;
    margin: 0 auto;
    text-align: center;
    width: inherit;
}

.alert-dismissible {
    padding-right: 0;
}


/*--------------------------------------------Navigation */
.container-fluid {
    padding-left: 30px;
}

.logo-img {
    max-height: 50px;
    max-width: 295px;
}

.nav-item {
    letter-spacing: 2px;
}

/*----------------------------------------------------------Home Page */
#search-button {
    position: absolute !important;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.search-input {
    padding-left: 5px;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*--------------------------------------------Posts */

.mx-3 {
    margin-left: 0rem !important;
}

.container {
    padding: 20px 30px;
}

.hr-dark {
    color: rgb(96, 96, 96);
}

.row {
    --bs-gutter-x: 0rem;
}

.muted {
    color: rgba(77, 77, 77, 0.5);
}

.post-link {
    text-decoration: none;
    color: #000;
}

.post-link:hover {
    color: #6e6e6e;
}

.btn-style {
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    text-align: center;
    border: none;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid gray;
    border-right: 3px solid gray;
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.btn-style:active {
    box-shadow: none; 
    border-bottom: none;
    border-right: none;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    transform: translateY(5px);
}

.btn-style:hover,
.btn-style:active,
.btn-style:focus {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
}

.no-underline {
    text-decoration: none;
}

#round {
    border-radius: 50%; 
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.35);
    width: 100px; 
    height: auto;
}

.space {
    padding: 10px 0 10px 20px;
}

.space-between {
    padding-bottom: 15px;
}

#contain {
    padding: 10px;
}

.btn-close {
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 0 4px 2px rgba(50, 50, 50, 0.9);
    border: 1px solid #234345;
}

#center-text {
    padding: 10px 30px;
}

#bottom-space {
    padding-bottom: 15px;
}

/* Comment section */
.spacing {
    padding: 20px 0;
}

.custom-comment-body {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border-radius: 35px 35px 0px 35px;
    margin: 0 auto;
}

#commentForm {
    width: fit-content;
}

.custom-form-body {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    border-radius: 35px 35px 0px 35px;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: block;
}

textarea {
    width: 260px;
}

.space-top {
    padding-top: 15px;
}

.center {
    display: inline-block;
}

/*--------------------------------------------Footer */
.footer-links {
    text-align: center;
    padding: 15px;
    list-style-type: none;
}

i:hover {
    color: #000;
}

hr {
    color: aliceblue;
}

/*--------------------------------------------------------------About Page */
.about-img-space {
    margin-bottom: 15px;
}

.about-round {
    border-radius: 50%; 
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*--------------------------------------------------------------Signup Page */

.link-color {
    color: #2E7B7F;
}

.link-color:hover {
    color: #000b7e;
}

/*--------------------------------------------------------------Profile Page */
#about {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-bottom: 20px;
}

.post-comment-container {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
}

#edit-about textarea {
    width: 100%;
    padding: 10px;
}

#edit-about label {
    display: none;
}

.posts-wrapper {
    border-radius: 0 0 4px 4px;
    border: 4px solid #000;
    max-height: 500px;
    overflow-y: auto;
}

/*--------------------------------------------------------------Media Queries */
/* Larger width for custom form body on desktop */
@media (min-width: 768px) {
    .custom-form-body {
        width: 70%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the element horizontally */
    }
}

@media (max-width: 320px) {
    .logo-img {
        max-width: 210px;
    }
}

/* Custom CSS to center text on mobile */
@media (max-width: 576px) {
    .text-center-mobile {
      text-align: center !important;
    }
  }