{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="side-space">
    <div class="container mt-5 card-body margin-space">
        <div class="row">
            <!-- Image column -->
            <div class="col-md-auto text-center">
                <img class="about-round about-img-space about-image-width" src="{% static 'images/nobody.jpg' %}"
                    alt="{{ about.heading }}" />
            </div>
            <div class="col-md-8 order-md-2 text-center-mobile">
                <h2>{{ about.heading }}</h2>
                {{ about.content | safe }}
                <p class="text-end text-muted"><em>Updated on: {{ about.updated_at }}</em></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}